/* место для вашего кода */

.menu__active {
  text-decoration: none;
}

.contacts {
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0;
}

.contacts a {
  text-wrap: nowrap;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}


/* ******************** Header ******************** */


.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  place-content: baseline space-between;
}

.header__menu {
  width: 392px;
  font-size: 18px;
  letter-spacing: 0;
  margin-left: 50px;
  margin-top: 133px;
}

.header__menu ul {
  display: flex;
  justify-content: space-between;
}

.header__menu li {
  list-style: circle inside;
}

.header__menu li:nth-child(1) {
  list-style: none;
}

.header__logo {
  width: 148px;
  height: 110px;
  margin-left: 34px;
  align-self: center;
  text-decoration: none;
}

.header__contacts {
  width: 210px;
  margin-left: 40px;
  margin-top: 96px;
  padding-bottom: 100px;
}

/* ******************** Main  ******************** */


/* section cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.cover__title {
  margin-top: 164px;
  font-weight: bold;
  font-size: 100px;
  text-transform:uppercase;
  letter-spacing: 0.3em;
  z-index: 1;
}

.cover__title span:nth-child(1) {
  text-align: left;
  margin-left: 50px;
}

.cover__title span:nth-child(2) {
  text-align: center;
  margin-left: 30px;
}

.cover__title span:nth-child(3) {
  text-align: right;
  margin-right: 20px;
}

.cover__title span {
  display: block;
  height: 135px;
}

.description {
  display: flex;
  margin-left: 50px;
  font-size: 22px;
  line-height: 1.26;
  justify-content: space-between;
  align-items: center;
  margin-top: 87px;
  margin-bottom: 50px;
  z-index: 1;
}

.description p {
  text-transform: uppercase;
  word-spacing: 18.5px;
  justify-content: space-around;
}

.bet-button {
  width: 256px;
  height: 51px;
  margin-right: 50px;
  align-self: center;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
}

/* section lots */

.lots {
  margin-top: 180px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 26px;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  column-gap: 25px;
  row-gap: 25px;
}

.card__container {
  list-style: none;
}

.card__link {
  text-decoration: none;
  display: block;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-lot-01 {
  background-image: url(../images/card-lot-01.jpg);
}

.card-lot-02 {
  background-image: url(../images/card-lot-02.jpg);
}

.card-lot-03 {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  width: 100%;
  padding: 48px 40px 0;
  flex-grow: 1;
  z-index: 1;
}

.card__content {
  width: 254px;
  margin: 0 40px 48px;
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.lots__more {
  font-size: 20px;
  margin-left: 40px;
  margin-top: 31px;
}

/* section about*/

.about {
  display: grid;
  width: 1052px;
  margin: 152px 24px 0;
  grid-template-columns: 334px auto;
  gap: 25px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 241px;
  height: 241px;
  border-radius: 50%;
  background-color: #000;
  justify-self: center;
}

.circle img {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 102px;
}

.about__content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 100px;
  row-gap: 24px;
}

.about__content p {
  width: 690px;      /* в макете двум абзацам из одного блока "Об аукционе" задана разная ширина.
                     В проекте проставила среднее значение. Поэтому при проверке в PixelPerfect текст параграфов
                    не совмещается в некоторых строках*/
}


/* ******************** Footer ******************** */


.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  place-content: baseline space-between;
  margin-top: 181px;
}

.footer__contacts {
  margin-left: 51px;
}

.footer__menu {
  font-size: 18px;
  text-align: center;
}

.footer__menu li {
  list-style: none;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  column-gap: 48px;
}

.footer__socials li {
  list-style: none;
}
