/* место для вашего кода */

body {
  background-color: #fff;
  color: #000;
  font-weight: normal;
}

/* Header */

.header {
  display: flex;
  width: 1100px;
  height: 293px;
  justify-content: space-between;
  align-items: center;
}

.menu {

}

.menu__header {
  width: 392px;
  height: 22px;
  font-size: 18px;
  letter-spacing: 0%;
  /* line-height: auto;*/
  margin-left: 50px;
  margin-top: 135px;
  margin-bottom: 136px;

}

.menu__header ul {
  display: flex;
  justify-content: space-between;
}

.menu__header li {
  list-style: circle inside;
}

.menu__header li:nth-child(1) {
  list-style: none;
  margin-left: 0;
}

.logo {
  width: 148px;
  height: 105px;
  margin-top: 92px;
  margin-bottom: 95px;
  margin-right: 150px;

}



.logo_place {
  display: inline-block;
  width: 129px;
  height: 14px;
  z-index: 2;


}

.contacts {
  width: 240px;
  height: 98px;
  flex-wrap: nowrap;
  font-size: 18px;
  margin-right: 50px;
  margin-top: 95px;
  margin-bottom: 100px;
  line-height: 24.3px;
  letter-spacing: 0%;
}

/* Main */

.cover {
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;


}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__title {
  margin-top: 164px;
  font-weight: bold;
  font-size: 100px;
  text-transform:uppercase;
  letter-spacing: 30%;
}

.cover__title span:nth-child(1) {
  text-align: left;
  margin-left: 50px;

}

.cover__title span:nth-child(2) {
  text-align: center;
  margin-left: 30px;
}

.cover__title span:nth-child(3) {
  text-align: right;
  margin-right: 20px;



}



.cover__title span {
  display: block;
  height: 135px;
}

.description {
  display: flex;
  font-size: 22px;
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

}

.description p {
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
  justify-content: space-around;

}

.bet {
  width: 256px;
  height: 51px;
  margin-right: 50px;
  align-self: center;

  /* font-weight:; */
  font-size: 22px;
  color: #fff;

}


.lots {
  width: 1100px;
  height: 723px;
  margin-top: 180px;
  margin-left: 24px;
  margin-right: 24px;
}

.card {
  background-image:
  background-color: rgb(0 0 0 / 0.6);

  width: 334px;
  height: 596px;
}

.card-content {

}

.about-logo {

}

.about {
  width: 1052px;
  height: 595px;
  margin: 120px 24px 180px;

}

/* Footer */

.footer {
  width: 1100px;
  height: 180px;
}

.menu__footer {

}

.footer_socials {
  width: 48px;
  height: 48px;
}

.original {
  width: 1100px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  filter: sepia(0.6);
}
